{% extends "streaming/base.html" %}
{% load static %}

{% block title %}
Películas Populares
{% endblock %}

{% block content %}
<h1>Tu plataforma de películas y series de confianza.</h1>
{% if movies %}
    <div class="carousel-container">
        <div class="carousel">
            {% for movie in movies %}
            <div class="carousel-item">
                <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }}">
                <h3>{{ movie.title }}</h3>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control prev">❮</button>
        <button class="carousel-control next">❯</button>
    </div>
{% else %}
    <p>No se pudieron cargar las películas. {{ error }}</p>
{% endif %}
{% endblock %}


