{% extends "streaming/base.html" %}
{% load static %}
{% block title %}
Claudia's Netflix
{% endblock %}

{% block content %}

<!-- Carrusel de Películas más valoradas -->
<div class="carousel-container">
    <h2 class="section-title">Películas Mejor Valoradas</h2>
    <div class="carousel">
        {% for movie in top_rated_movies %}
        <div class="carousel-item">
            <a href="{% url 'streaming:movie-details' movie.id %}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                <h3>{{ movie.title }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Carrusel de Películas Próximas -->
<div class="carousel-container">
    <h2 class="section-title">Películas Próximas</h2>
    <div class="carousel">
        {% for movie in upcoming_movies %}
        <div class="carousel-item">
            <a href="{% url 'streaming:movie-details' movie.id %}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                <h3>{{ movie.title }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Carrusel de Series Populares -->
<div class="carousel-container">
    <h2 class="section-title">Series Populares</h2>
    <div class="carousel">
        {% for serie in popular_series %}
        <div class="carousel-item">
            <a href="{% url 'streaming:movie-details' serie.id %}">
                <img src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="{{ serie.name }}">
                <h3>{{ serie.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Carrusel de Series Mejor Valoradas -->
<div class="carousel-container">
    <h2 class="section-title">Series Mejor Valoradas</h2>
    <div class="carousel">
        {% for serie in top_rated_series %}
        <div class="carousel-item">
            <a href="{% url 'streaming:movie-details' serie.id %}">
                <img src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="{{ serie.name }}">
                <h3>{{ serie.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Carrusel de Recomendaciones -->
<div class="carousel-container">
    <h2>Basado en tus Gustos</h2>
    <div class="carousel">
        {% for movie in recommended_movies %}
        <div class="carousel-item">
            <a href="{% url 'streaming:movie-details' movie.id %}">
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                <h3>{{ movie.title }}</h3>
            </a>
        </div>
        {% empty %}
        <p>No hay recomendaciones disponibles en este momento.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}




