{% extends "streaming/base.html" %}
{% load static %}
{% block title %}
Bienvenido a Netflix UAX
{% endblock %}

{% block content %}
<h1>Bienvenido a Netflix UAX</h1>

<!-- Carrusel de Películas más valoradas -->
<div class="carousel-container">
    <h2 class="section-title">Películas Top Rated</h2>
    <button class="carousel-control prev">‹</button>
    <div class="carousel">
        {% for movie in top_rated_movies %}
        <div class="carousel-item">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            <h3>{{ movie.title }}</h3>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control next">›</button>
</div>

<div class="carousel-container">
    <h2 class="section-title">Películas Próximas</h2>
    <button class="carousel-control prev">‹</button>
    <div class="carousel">
        {% for movie in upcoming_movies %}
        <div class="carousel-item">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            <h3>{{ movie.title }}</h3>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control next">›</button>
</div>

<div class="carousel-container">
    <h2 class="section-title">Series Populares</h2>
    <button class="carousel-control prev">‹</button>
    <div class="carousel">
        {% for serie in popular_series %}
        <div class="carousel-item">
            <img src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="{{ serie.name }}">
            <h3>{{ serie.name }}</h3>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control next">›</button>
</div>

<div class="carousel-container">
    <h2 class="section-title">Series Top Rated</h2>
    <button class="carousel-control prev">‹</button>
    <div class="carousel">
        {% for serie in top_rated_series %}
        <div class="carousel-item">
            <img src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}" alt="{{ serie.name }}">
            <h3>{{ serie.name }}</h3>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control next">›</button>
</div>



{% endblock %}





