{% extends "streaming/base.html" %}
{% load static %}
{% block title %}Resultados de la búsqueda{% endblock %}
{% block content %}

<div class="search-results">
    <h1>Resultados para "{{ query }}"</h1>
    <div class="carousel-container">
        <div class="carousel">
            {% for movie in movies %}
            <div class="carousel-item">
                <a href="{% url 'streaming:movie-details' movie.id %}">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
                    <h3>{{ movie.title }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if not movies %}
    <p>No hay resultados disponibles.</p>
    {% endif %}
</div>

<nav class="pagination">
    {% if page > 1 %}
    <a href="?q={{ query }}&page={{ page|add:"-1" }}">Anterior</a>
    {% endif %}
    <a href="?q={{ query }}&page={{ page|add:"1" }}">Siguiente</a>
</nav>

{% endblock %}








